import * as React from 'react';

import { withStyles } from 'material-ui/styles';
import Typography from 'material-ui/Typography';

const styles = theme => ({
    root: {
        padding: theme.spacing.unit
    }
});

function {{ properCase componentName }}Base({ classes, dummy }) {

    return (
        <div className={classes.root}>
            <Typography type="title">{{ properCase componentName }}{dummy}</Typography>
        </div>
    );
}

export const {{ properCase componentName }} = withStyles(styles)({{ properCase componentName }}Base);
